/*
 * @Author: luzhibin 
 * @Date: 2020-12-07 15:28:52 
 * @Last Modified by: luzhibin
 * @Last Modified time: 2020-12-07 15:32:51
 */
 
/* 导航主体 */
.nav-side {
  float: left;
  width: 130px;
  min-height: 100px;
}
.nav-side .nav-item {
  line-height: 25px;
  font-size: 13px;
}
.nav-side .nav-item .link {
  color: #777;
}
.nav-side .nav-item.active .link {
  color: #c60023;
}
/* 右侧内容区 */
.content.with-nav {
  float: left;
  width: 950px;
}
