/*
 * @Author: luzhibin 
 * @Date: 2020-12-07 16:14:20 
 * @Last Modified by:   luzhibin 
 * @Last Modified time: 2020-12-07 16:14:20 
 */
 
.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: rgb(255, 255, 255);
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}